<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Log in information-->
    <connectionStrings>
      <add name="SomerenDatabase" 
           connectionString="Data Source= den1.mssql8.gear.host;
                 Initial Catalog =pdbd28;
                 User ID =pdbd28;
                 Password =Ky10q9wK_Lw-"/>  
        </connectionStrings>         
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
